
<div class = "container container-fluid">
    <div class="row">
    <div class="col-md-5">
        <img  src="./assets/Img/movie3.jpg" alt="Second slide" width="75%" >
    </div>
    <div class="col-md-7">

    
<table class="table table-stripped" style="margin-top: 40px;">
<thead>

   <th>Name</th>
   <th>Brand</th>
   <th>Price</th>
   <th>Quantity</th>
   <th>Total</th>
</thead>

<tr>
    <td>{{movie.name}}</td>
    <td>{{movie.duration}}</td>
    <td>{{movie.price}}</td>
    <td><input type="text" [(ngModel)] = "qty" (change)="totalVal()" ></td>
    <td>{{total | currency :"INR" }}</td>
    
</tr>
</table>
<input type ="button" value="Continue Booking" class="btn btn-warning"  (click)="back()">

<input type ="button" value="Proceed To Pay" class="btn btn-info" style="margin-left: 390px;" (click)="next()">
</div>

</div>
</div>