<div class="container container-fluid">
    <div class="row">
        <div class="col-md-1">
            <img  src="./assets/Img/movie3.jpg" alt="Second slide">

        </div>
    <div class="col-md-10">
     <div class="card">
        <div class="card-header">
        <h3>Add Genre</h3>
        </div>
        <div class="card-body">
        <form [formGroup]="catForm" (submit)="addCategory()">
            <input type="text"  placeholder="Category Name" formControlName="name" class="form-control"><br>
            <input type="submit" value=" Add Category" class="btn btn-md btn-success" [disabled]=catForm.invalid><br>

            <a href="addMedicine">Add Movies</a>
        </form>
        </div>
        </div>
    </div>
    <div class="col-md-1">
        <img  src="./assets/Img/movie3.jpg" alt="Second slide">

    </div>
    </div>
</div>
