<div class = "container container-fluid">
    <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
   <div class="card">
   <div class="card-header">
  <h3>Available Movie Tickets</h3>
   </div>
   <div class="card-body">
    <table class="table  table-bordered table-stripped" >
    <thead class ="thead thead-light">
    <tr>
        <th>Id</th>
        <th (click)="sort('name')">Name</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Enabled</th>
        <th>Activate</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tr *ngFor = "let med of medicines  ">
        <td>{{med.id}}</td>
        <td>{{med.name}}</td>
        <td>{{med.duration}}</td>
        <td>{{med.quantity}}</td>
        <td>{{med.price}}</td>
        <td>{{med.activate}}</td>
        <td><input type="button" value="Activate/Deactivate" class="btn btn-sm btn-secondary" style="margin-right: 20px;" (click)="activate(med.id,med)"></td>
       <!-- <td><input type="button" value="Edit" class="btn btn-sm btn-secondary" style="margin-right: 20px;" (click)="edit(med.id)"> -->
            <!--<td><a href="editMedicine/{{med.id}}" style="margin-right: 20px;">Edit Medicine</a> -->
      <td>
       <input type="button" value="Delete" class="btn btn-sm btn-danger" (click)="deletMed(med.id)"></td>
    </tr>
   
    </table>
   </div>
   <div class="card-footer">

   </div>
   </div>
    </div>
    <div class="col-md-1">

    </div>
    </div>
</div>

