<div class = "container container-fluid">
    <div class="row">
    <div class="col-md-3">
        <img  src="./assets/Img/movie3.jpg" alt="Second slide">

    </div>
    <div class="col-md-6">
   <div class="card">
   <div class="card-header">
  <h3>Add Movie Ticket</h3>
   </div>
   <div class="card-body">
    <form [formGroup]="addMed" (submit)="addMedicine()">
    <label>Name :</label>  <input type="text" formControlName="name" class="form-control"><br>
    <label>Duration :</label>  <input type="text" formControlName="duration" class="form-control"><br>
    <label>Cast :</label>  <textarea formControlName="starCast" class="form-control"></textarea><br>

    <label>Quantity :</label>  <input type="number" formControlName="quantity" class="form-control"><br>
    <label>Price :</label>  <input type="number" formControlName="price" class="form-control"><br>
    <label>Genre :</label>  <select formControlName="category" class="form-control" >
        <option>Select Genre</option>
        
        <option *ngFor = "let cat of categories" >{{cat.name}}</option>
        </select><br>
    <a href="addCategory">Add New Genre</a><br>
    <input type="submit" class="btn btn-primary" value="Add Movie" [disabled]= addMed.invalid>
    </form>
   </div>
   <div class="card-footer">

   </div>
   </div>
    </div>
    <div class="col-md-3">
        <img  src="./assets/Img/movie3.jpg" alt="Second slide">

    </div>
    </div>
</div>
