<div class="container container-fluid">
    <div class="row">
        <div class="col-md-1">
            <img  src="./assets/Img/movie3.jpg" alt="Second slide">
        </div>
    <div class="col-md-10">
        
     <div class="card">
        <div class="card-header">
        <h3>Search Movies</h3>
        </div>
        <div class="card-body">
            <form [formGroup]= "searchForm">
        <input type = "text" placeholder="Search By Movie Name Category Cast" class="form-control" formControlName = "param"><br>
        <input type = "submit" value="Search Movies" class="btn btn-sm btn-primary" (click)="search()" ><br>
         </form>
        <table  class = " table  table-stripped" style="background-color: gray;">
        <thead class="thead thead-light">
         <th>Movie</th>
         <th>Cast</th>
         <th>Timing</th>
         <th>Price</th> 

        <!-- <th>Quantity</th> -->
         
         <th>Cart Operations</th>
        </thead>
        <tr *ngFor = "let med of medicines ; let i = index ">
         <td> <p>{{med.name}}</p>
         </td>
           <td> <p> {{med.starCast}}</p>
           <!-- <input *ngIf = "i == medicines.length-1"   type ="button" value = "Continue Shopping" class="btn btn-sm btn-info"> -->
        </td>
        <td>{{med.duration}}</td>
         <td>{{med.price}}</td>
    <!--    <td><input type="number" class="form-control"   id="qty_{{i}}" name ="qty_{{i}}"></td> -->
        
        <td>
            <input  type = "button" value="Order" class="btn btn-sm btn-primary" style="margin-left: 10px;" (click)="AddToCart(med)">
       <!--      <input  type = "button" value="Delete" class="btn btn-sm btn-danger" style="margin-left: 40px;">

         </td>   -->
        </td>
        </tr>
        
        </table>
        </div>
        </div>
    </div>
    <div class="col-md-1">
        <img  src="./assets/Img/movie3.jpg" alt="Second slide">
    </div>
    </div>
</div>

